.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #ffffff40;
  border: none;
  padding: 0;
}

.arrow:hover {
  color: #ffffff60;
}

.thumbnail-container {
  position: absolute;
  width: 60%;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);

  height: 120px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.thumbnail-wrapper {
  opacity: 0.6;
  width: 200px;
  overflow: hidden;
}

.thumbnail-active {
  opacity: 1;
  border: 1px solid white;
}

.thumbnails-img {
  object-fit: cover;
  display: block;
  flex-shrink: 0;
}


@keyframes imageFadeFrame {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.image-fade{
  animation: imageFadeFrame 1s ease;
}