.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: blue;
}
.main-container{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.side-bar{
border-right: 1px solid #c3c5c9;
box-sizing: border-box;
}


@keyframes contentOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ContentEffect {
  animation: contentOpacity 1s ease forwards;
}


/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}