@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  user-select: none;
}